body {
 background-color: yellow;
 margin: 30px;
border-radius: 5px;
}
h1 {
 color: blue;
 text-align: center;
 }
p {
 font-size: 20px;
 }
h2 {
 color: green;
 margin-top: 30px;
 }
ul {
 background-color: pink;
 padding: 15px;
 }
li {
 margin: 5px ;}